## Problem 3 - Data analysis (4 points)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-3.ipynb` file (this file).
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Mactan and Hinatuan for March-May of 2018
- Selecting temperatures for April and December 2018 in separate dataframes for each location
- Printing out some summary values for each month (April, December) and location (Mactan, Hinatuan)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (0 points)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `mactan` and `hinatuan`

In [1]:
import pandas as pd
mactan = None
hinatuan = None

# YOUR CODE HERE
mactan = pd.read_csv('Mactan_temps_2019-01_2020-12.csv')
hinatuan = pd.read_csv('Hinatuan_temps_2019-01_2020-12.csv')

In [2]:
print(mactan.head())
print('')
print(hinatuan.head())

       STATION        DATE   TEMP     MAX     MIN  Celsius
0  RPM00098646  2017-01-01  79.70  86.000     ***    61.92
1  RPM00098646  2017-01-02  79.88  85.640     ***    62.10
2  RPM00098646  2017-01-03  82.40  88.520  76.640    64.62
3  RPM00098646  2017-01-04  82.04  89.240     ***    64.26
4  RPM00098646  2017-01-05  81.32  88.520  77.000    63.54

       STATION        DATE   TEMP     MAX     MIN  Celsius
0  RP000098755  2017-01-01  80.06  84.200  75.200    62.28
1  RP000098755  2017-01-02  80.78  85.640  75.920    63.00
2  RP000098755  2017-01-03  79.88  85.280     ***    62.10
3  RP000098755  2017-01-04  80.60  86.360  75.380    62.82
4  RP000098755  2017-01-05  77.72  89.060     ***    59.94

### Part 2 (1 points)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Mactan, Cebu? (store the answer in a variable `mactan_median`)
    - Hinatuan, Surigao del Sur? (store the answer in a variable `hinatuan_median`)

In [10]:
mactan_median = None
hinatuan_median = None

# YOUR CODE HERE
mactan_median = mactan['Celsius'].median().round(0)
hinatuan_median = hinatuan['Celsius'].median().round(0)

In [11]:
# Prints the median temperatures
print(f"Mactan median: {mactan_median}")
print(f"Hinatuan median: {hinatuan_median}")

Mactan median: 65.0
Hinatuan median: 63.0

### Part 3 (2 points)

The median temperatures above consider data from the entire "summer" (Mar-May), hence the differences might not be so clear. Let's now find out the mean temperatures from March and May 2018 in Mactan and Hinatuan.

- From the `mactan` and `hinatuan` DataFrames, select the rows where values of the `DATE` column are from March 2018
    - Assign these selected rows into the variables `mactan_mar` and `hinatuan_mar` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of May and assign those values into variables to `mactan_may` and `hinatuan_may`

In [5]:
# Select the subset of the Mactan and Hinatuan data for the 3rd and 5th month
mactan_mar = None
hinatuan_mar = None

mactan_may = None
hinatuan_may = None

# YOUR CODE HERE
raise NotImplementedError()

NotImplementedError:

Check that the subsets look ok:

In [ ]:
print(f"First values in March, Mactan:\n{mactan_mar.head()}\n")
print(f"Last values in March, Mactan:\n{mactan_mar.tail()}")

In [ ]:
print(f"First values in May, Mactan:\n{mactan_may.head()}\n")
print(f"Last values in May, Mactan:\n{mactan_may.tail()}")

In [ ]:
print(f"First values in March, Hinatuan:\n{hinatuan_mar.head()}\n")
print(f"Last values in March, Hinatuan:\n{hinatuan_mar.tail()}")

In [ ]:
print(f"First values in May, Hinatuan:\n{hinatuan_may.head()}\n")
print(f"Last values in May, Hinatuan:\n{hinatuan_may.tail()}")

### Part 4 (1 point)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in March and May using the new subset dataframes (`mactan_mar`, `hinatuan_mar`, `mactan_may`, and `hinatuan_may`).

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Hinatuan a much cooler place than Mactan?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

YOUR ANSWER HERE

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)