## Problem 3 - Data analysis (4 points)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-3.ipynb` file (this file).
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Mactan and Hinatuan for March-May of 2018
- Selecting temperatures for April and December 2018 in separate dataframes for each location
- Printing out some summary values for each month (April, December) and location (Mactan, Hinatuan)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (0 points)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `mactan` and `hinatuan`

In [1]:
import pandas as pd
mactan = None
hinatuan = None

# YOUR CODE HERE
mactan = pd.read_csv('Mactan_temps_2019-01_2020-12.csv')
hinatuan = pd.read_csv('Hinatuan_temps_2019-01_2020-12.csv')

In [2]:
print(mactan.head())
print('')
print(hinatuan.head())

       STATION        DATE   TEMP     MAX     MIN  Celsius
0  RPM00098646  2017-01-01  79.70  86.000     ***    61.92
1  RPM00098646  2017-01-02  79.88  85.640     ***    62.10
2  RPM00098646  2017-01-03  82.40  88.520  76.640    64.62
3  RPM00098646  2017-01-04  82.04  89.240     ***    64.26
4  RPM00098646  2017-01-05  81.32  88.520  77.000    63.54

       STATION        DATE   TEMP     MAX     MIN  Celsius
0  RP000098755  2017-01-01  80.06  84.200  75.200    62.28
1  RP000098755  2017-01-02  80.78  85.640  75.920    63.00
2  RP000098755  2017-01-03  79.88  85.280     ***    62.10
3  RP000098755  2017-01-04  80.60  86.360  75.380    62.82
4  RP000098755  2017-01-05  77.72  89.060     ***    59.94

### Part 2 (1 points)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Mactan, Cebu? (store the answer in a variable `mactan_median`)
    - Hinatuan, Surigao del Sur? (store the answer in a variable `hinatuan_median`)

In [3]:
mactan_median = None
hinatuan_median = None

# YOUR CODE HERE
mactan_median = mactan['Celsius'].median()
hinatuan_median = hinatuan['Celsius'].median()

In [4]:
# Prints the median temperatures
print(f"Mactan median: {mactan_median}")
print(f"Hinatuan median: {hinatuan_median}")

Mactan median: 64.8
Hinatuan median: 63.36

### Part 3 (2 points)

The median temperatures above consider data from the entire "summer" (Mar-May), hence the differences might not be so clear. Let's now find out the mean temperatures from March and May 2018 in Mactan and Hinatuan.

- From the `mactan` and `hinatuan` DataFrames, select the rows where values of the `DATE` column are from March 2018
    - Assign these selected rows into the variables `mactan_mar` and `hinatuan_mar` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of May and assign those values into variables to `mactan_may` and `hinatuan_may`

In [5]:
# Select the subset of the Mactan and Hinatuan data for the 3rd and 5th month
mactan_mar = None
hinatuan_mar = None

mactan_may = None
hinatuan_may = None

# YOUR CODE HERE
mactan_mar = mactan.loc[                        #isolate the dates first and remember the format in this .csv file
    (mactan['DATE'] >= "2018-03-01") &
    (mactan['DATE'] < "2018-04-01")
]

hinatuan_mar = hinatuan.loc[
    (hinatuan['DATE'] >= "2018-03-01") &
    (hinatuan['DATE'] < "2018-04-01")
]

mactan_may = mactan.loc[
    (mactan['DATE'] >= "2018-05-01") &
    (mactan['DATE'] < "2018-06-01")
]

hinatuan_may = hinatuan.loc[
    (hinatuan['DATE'] >= "2018-05-01") &
    (hinatuan['DATE'] < "2018-06-01")
]

Check that the subsets look ok:

In [6]:
print(f"First values in March, Mactan:\n{mactan_mar.head()}\n")
print(f"Last values in March, Mactan:\n{mactan_mar.tail()}")

First values in March, Mactan:
         STATION        DATE   TEMP     MAX     MIN  Celsius
424  RPM00098646  2018-03-01  82.58  88.520     ***    64.80
425  RPM00098646  2018-03-02  82.40  88.880  76.280    64.62
426  RPM00098646  2018-03-03  83.12  89.960  76.640    65.34
427  RPM00098646  2018-03-04  81.68  88.880     ***    63.90
428  RPM00098646  2018-03-05  82.76  89.600  75.920    64.98

Last values in March, Mactan:
         STATION        DATE   TEMP     MAX     MIN  Celsius
450  RPM00098646  2018-03-27  80.96  88.880     ***    63.18
451  RPM00098646  2018-03-28  81.68  88.700  73.760    63.90
452  RPM00098646  2018-03-29  81.14  88.880     ***    63.36
453  RPM00098646  2018-03-30  81.32  87.800  74.480    63.54
454  RPM00098646  2018-03-31  82.40  89.600  76.640    64.62

In [7]:
print(f"First values in May, Mactan:\n{mactan_may.head()}\n")
print(f"Last values in May, Mactan:\n{mactan_may.tail()}")

First values in May, Mactan:
         STATION        DATE   TEMP     MAX     MIN  Celsius
485  RPM00098646  2018-05-01  86.18  91.760  79.520    68.40
486  RPM00098646  2018-05-02  85.10  93.020     ***    67.32
487  RPM00098646  2018-05-03  78.98  84.560     ***    61.20
488  RPM00098646  2018-05-04  82.40  88.880     ***    64.62
489  RPM00098646  2018-05-05  83.66  90.500  75.560    65.88

Last values in May, Mactan:
         STATION        DATE   TEMP     MAX     MIN  Celsius
511  RPM00098646  2018-05-27  87.08  92.300  80.600    69.30
512  RPM00098646  2018-05-28  86.72  93.020  81.320    68.94
513  RPM00098646  2018-05-29  86.18  90.320     ***    68.40
514  RPM00098646  2018-05-30  83.48  90.680     ***    65.70
515  RPM00098646  2018-05-31  84.20  91.400     ***    66.42

In [8]:
print(f"First values in March, Hinatuan:\n{hinatuan_mar.head()}\n")
print(f"Last values in March, Hinatuan:\n{hinatuan_mar.tail()}")

First values in March, Hinatuan:
         STATION        DATE   TEMP     MAX     MIN  Celsius
424  RP000098755  2018-03-01  80.60  85.280  75.380    62.82
425  RP000098755  2018-03-02  80.96  86.180     ***    63.18
426  RP000098755  2018-03-03  80.24  88.340     ***    62.46
427  RP000098755  2018-03-04  78.98  86.180  73.220    61.20
428  RP000098755  2018-03-05  81.50  87.440  73.400    63.72

Last values in March, Hinatuan:
         STATION        DATE   TEMP     MAX     MIN  Celsius
450  RP000098755  2018-03-27  78.80  87.800     ***    61.02
451  RP000098755  2018-03-28  82.04  92.300  68.720    64.26
452  RP000098755  2018-03-29  81.32  89.600  74.120    63.54
453  RP000098755  2018-03-30  81.32  90.500  72.500    63.54
454  RP000098755  2018-03-31  77.90  85.100     ***    60.12

In [9]:
print(f"First values in May, Hinatuan:\n{hinatuan_may.head()}\n")
print(f"Last values in May, Hinatuan:\n{hinatuan_may.tail()}")

First values in May, Hinatuan:
         STATION        DATE   TEMP     MAX     MIN  Celsius
485  RP000098755  2018-05-01  82.22  89.240  76.100    64.44
486  RP000098755  2018-05-02  79.88  87.800     ***    62.10
487  RP000098755  2018-05-03  81.50  90.860  74.840    63.72
488  RP000098755  2018-05-04  81.86  89.960  75.560    64.08
489  RP000098755  2018-05-05  82.22  89.600     ***    64.44

Last values in May, Hinatuan:
         STATION        DATE   TEMP     MAX     MIN  Celsius
511  RP000098755  2018-05-27  82.94  93.020  77.000    65.16
512  RP000098755  2018-05-28  83.12  91.040     ***    65.34
513  RP000098755  2018-05-29  81.68  92.300  74.660    63.90
514  RP000098755  2018-05-30  76.64  81.140     ***    58.86
515  RP000098755  2018-05-31  81.68  90.860  72.860    63.90

### Part 4 (1 point)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in March and May using the new subset dataframes (`mactan_mar`, `hinatuan_mar`, `mactan_may`, and `hinatuan_may`).

In [10]:
# YOUR CODE HERE
print(
    f"The mean, min and max Celsius temperatures for Mactan in March are {mactan_mar['Celsius'].mean():.2f}, {mactan_mar['Celsius'].min():.2f}, and {mactan_mar['Celsius'].max():.2f} respectively."
)
print(
    f"The mean, min and max Celsius temperatures for Mactan in May are {mactan_may['Celsius'].mean():.2f}, {mactan_may['Celsius'].min():.2f}, and {mactan_may['Celsius'].max():.2f} respectively."
)
print(
    f"The mean, min and max Celsius temperatures for Hinatuan in March are {hinatuan_mar['Celsius'].mean():.2f}, {hinatuan_mar['Celsius'].min():.2f}, and {hinatuan_mar['Celsius'].max():.2f} respectively."
)
print(
    f"The mean, min and max Celsius temperatures for Hinatuan in May are {hinatuan_may['Celsius'].mean():.2f}, {hinatuan_may['Celsius'].min():.2f}, and {hinatuan_may['Celsius'].max():.2f} respectively."
)

The mean, min and max Celsius temperatures for Mactan in March are 64.07, 60.84, and 66.24 respectively.
The mean, min and max Celsius temperatures for Mactan in May are 67.13, 61.20, and 69.48 respectively.
The mean, min and max Celsius temperatures for Hinatuan in March are 62.22, 57.24, and 64.62 respectively.
The mean, min and max Celsius temperatures for Hinatuan in May are 64.81, 58.86, and 66.96 respectively.

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Hinatuan a much cooler place than Mactan?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

YOUR ANSWER HERE

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)